<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218748412892-15ho9gb6dufal3ksi2epqootvuh8sli9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218748412892-15ho9gb6dufal3ksi2epqootvuh8sli9</string>
	<key>API_KEY</key>
	<string>AIzaSyCrVyt1VXRJtKXLi0QW9FNvA8V_yzauUt8</string>
	<key>GCM_SENDER_ID</key>
	<string>218748412892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hustletechnology.bbrapp</string>
	<key>PROJECT_ID</key>
	<string>bbrapp-38087</string>
	<key>STORAGE_BUCKET</key>
	<string>bbrapp-38087.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218748412892:ios:6c8102d79b5616b9b8e519</string>
	<key>DATABASE_URL</key>
	<string>https://bbrapp-38087.firebaseio.com</string>
</dict>
</plist>